global:
  storageClass: "alicloud-disk-available"

  minio:
    accessKey: 'XmizyTRKhgYTrVkK'
    secretKey: 'Df229gtwZ4bssMzK23VJXq9vrGqpxdHA'

  images:
    registry: sreworks-registry.cn-beijing.cr.aliyuncs.com/sreworks
    tag: v0.5

platformName: SREWorks
platformLogo: /static/publicMedia/sreworks.png

installMode: default

debug: false

images: {}

build:
  isHome: false
  importFrontend: true
  enable: false
  images: {}

core: 
  init: true
  stageId: prod
  appId: flycore

saas:
  init: true
  stageId: prod
  list:
  - cluster
  - app
  - team
  - dataops
  - system
  - sleep
  - job
  - search
  - healing
  - aiops
  - health
  - ocenter
  - help
  - upload
  - demoapp
  dataops:
    dbPassword: cb56b5is5e21_c359b42223 
  grafana:
    password: "sreworks123456"

swcli:
  username: superuser
  password: yJfIYmjAiCL0ondV3kY7e5x6kVTpvC3h
  clientId: superclient
  clientSecret: stLCjCPKbWmki65DsAj2jPoeBLPimpJa

source:
  branch: master
  repo: https://codeup.aliyun.com/5ea46c39e17c0e0001fd9986/sreworks/sreworks.git
  ciAccount: sreworks
  ciToken: zwC8xJJ8z6FVZF6icqXf

appmanagerbase:
  enabled: true
  redis:
    password: 'siJEULmQYQ' 
 
appmanager:
  enabled: true

  gateway:
    account_super_client_id: common
    account_super_client_secret: common-9efab2399c7c560b34de477b9aa0a465 
    account_super_id: admin
    account_super_secret_key: test-super-secret-key 

  server:
    jvmXMX: "1000m"
    docker:
      enableKaniko: true
      account: sreworks
      password: sreworksDocker123q
      registry: registry.cn-zhangjiakou.aliyuncs.com
      namespace: builds




